

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/main.css" >
    <title>BioVeg</title>

    


 {% block css %}{% endblock %}

    <div id="mySidebar" class="sidebar">
        <a href="#"><span><i class="material-icons">info</i><span class="icon-text">about</span></a><br>
        <a href="#"><i class="material-icons">spa</i><span class="icon-text"></span>services</a></span>
        </a><br>
        <a href="#"><i class="material-icons">monetization_on</i><span class="icon-text"></span>clients</span></a><br>
        <a href="#"><i class="material-icons">email</i><span class="icon-text"></span>contact<span></a>
    </div>

    <div id="main">
        <h2>A simple sidebar.</h2>
        <p>The sidebar is in fixed position and does not close.</p>
    </div>
        
        
        <div id="conteneur">
        <nav>
            <div class="element"><a href="angio.njk">Angiospermes</a></div>
            <div class="element"><a href="gymno.njk">Gymnospermes</a></div>
            <div class="element"><a href="fougere.njk">Fougères</a></div>
        </nav>
        </div>


    </head>

  

    <body>
{% block content %}{% endblock %}
    </body>
</html>