<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="stylequiz.css">
        <link href="https://fonts.googleapis.com/css2?family=Exo:wght@100;200&family=Fira+Sans+Condensed:wght@200&family=Lobster+Two&family=Permanent+Marker&display=swap" rel="stylesheet">
    </head>


<body>

<div class="container">
    <div id="quiz">
        <h1><span>Q</span>uiz <i class="far fa-question-circle"></i></h1>
        <h2 id="question"></h2>
        <h3 id="score"></h3>

        <div class="choix">
            
            <button id="guess0" class="btn">
                <p id="choix0"></p> <!-- clique de l'utilisateur, si c'est bon ou pas-->
            </button>

            <button id="guess1" class="btn">
                <p id="choix1"></p>
            </button>

            <button id="guess2" class="btn">
                <p id="choix2"></p>
            </button>

            <button id="guess3" class="btn">
                <p id="choix3"></p>
            </button>
        </div>

            <p id="progress"></p>
        
    </div>
</div>

</body>

</hmtl>