* {
    font-family: 'Exo', sans-serif;
    /* box-sizing : border-box; 
    margin : 0;
    padding : 0; */
    text-align : center;
}


#score{
    display:flex;
    
}

body {
    display :grid;
    align-items : center;
    justify-items : center;
    min-height : 100vh;
    background : white;
    color: black;
} 

h3 {
    font-family: 'Exo', sans-serif;
    margin-bottom : 2rem;
    text-transform : uppercase;
    font-size : 1.5rem;
}

SELECT 
{
    flex : 1 0 45%;
    width : 100px;
    height : 30px;
    border-radius : 5px;
    cursor : pointer;
    border : none;
    margin : .2rem;
    outline : none;
    background : #285943;
    user-select : none;
    font-weight : 600;
    transition-duration: .5s;
    color:white;
}

#question{
    font-family: 'Exo', sans-serif;
    margin-bottom : 2rem;
    /*text-transform : uppercase;*/
    font-size : 1.5rem;
}

#reponse
{
    /*text-transform: lowercase;*/
    flex : 1 0 45%;
    width : 200px;
    height : 30px;
    border-radius : 5px;
    cursor : pointer;
    border : none;
    margin : .2rem;
    outline : none;
    background : #7EA0B7;
    user-select : none;
    font-weight : 600;
    transition-duration: .5s;
    color:white;
}

OPTION
{
    flex : 1 0 45%;
    border-radius : 5px;
    cursor : pointer;
    border : none;
    margin : .4rem;
    outline : none;
    background : #A1CF6B;
    user-select : none;
    font-weight : 600;
    transition-duration: .5s;
    color:white;
}

OPTION:hover
{
    background: #ffffff;
}

button
{
    flex : 1 0 45%;
    width : 100px;
    height : 30px;
    border-radius : 5px;
    cursor : pointer;
    border : none;
    margin : .2rem;
    outline : none;
    background : #285943;
    user-select : none;
    font-weight : 600;
    transition-duration: .5s;
    color:white;
}

button:hover
{
    background : #bcf17f;
    transform: scale(1.05);
    transition-duration : .1s;
}

input
{
    width : 150px;
    height : 30px;
    border-radius : 5px;
}

#progress {
    font-size : 1.3rem;
    color : #285943;
    font-weight: bold;
    /*background: #A1CF6B;*/
    border:4px solid #E0C879;
    border-radius:.7rem;
    padding:.5rem 1rem;
}