{% extends "layout.njk" %}
{% block content %}

<?php 
    $result = $bdd -> query('SELECT * FROM lieux');
    while ($row = $result -> fetch()){
        $id_zone = $row['id_lieux'];
        $zone = $row['nom'];

        $result2 = $bdd -> prepare("SELECT MIN(id_plante) as min FROM plante WHERE lieu = ? AND (statut = ? OR statut = ?)");
        $result2 -> execute(array($id_zone, '0', '3'));
        $row = $result2 -> fetch();
        $min_id = $row['min'];

        $result3 = $bdd -> prepare("SELECT COUNT(id_plante) as total FROM plante WHERE lieu = ? AND (statut = ? OR statut = ?)");
        $result3 -> execute(array($id_zone, '0', '3'));
        while($row = $result3 -> fetch()) {
            $total_questions = $row['total'];
?>

{% endblock %}