<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../style.css">
        <link href="https://fonts.googleapis.com/css2?family=Exo:wght@100;200&family=Fira+Sans+Condensed:wght@200&family=Lobster+Two&family=Permanent+Marker&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/Font-Awesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
        <link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">
        <link rel="stylesheet" type="text/css" href="https://fontawesome.com/v5.15/icons/">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    
    
    <body>
        <div id="sidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
            <h2><i class="fas fa-bars"></i></h2>
                <div class="category" id="dropAngio">
                    <a href="#" class="themes">Angiospermes</a>
                    <div class="subthemesCtn" id="dropAngioCtn">
                        <a class="subthemes" href="/quiz">Quizs</a>
                        <a class="subthemes" href="#">Mots croisés</a>
                        <a class="subthemes" href="#">Textes à trous</a>
                    </div><br>
                </div>

                <div class="category" id="dropGymno">
                    <a href="#" class="themes">Gymnospermes</a>
                    <div class="subthemesCtn" id="dropGymnoCtn">
                        <a class="subthemes" href="#">Quizs</a>
                        <a class="subthemes" href="#">Mots croisés</a>
                        <a class="subthemes" href="#">Textes à trous</a>
                    </div><br>
                </div>

                <div class="category" id="dropFoug">
                    <a href="#" class="themes">Fougères</a>
                    <div class="subthemesCtn" id="dropFougCtn">
                        <a class="subthemes" href="#">Quizs</a>
                        <a class="subthemes" href="#">Mots croisés</a>
                        <a class="subthemes" href="#">Textes à trous</a>
                    </div><br>
                </div>

                <div class="category" id="dropAn">
                    <a href="#" class="themes">Annales</a>
                    <div class="subthemesCtn" id="dropAnCtn">
                        <a class="subthemes" href="#">2020</a>
                        <a class="subthemes" href="#">2021</a>
                        <a class="subthemes" href="#">2022</a>
                    </div><br>
                </div>

            </div>

            <div id="main">

                <p class="qtext"><a href="/"><h1> Vegeta'learn </h1></a></p>
                <p class="qtext">Testez-vous sur nos différents quizs.</p>
                <p class="qtext"> Faites-en plusieurs, entrainez-vous au maximum pour assurer la bonne note</p>
                
                <div class="listeQuizs">
        
                    <button id="" class="lqs">
                        <p id="">Quiz n°1 : Les angiospermes blabla</p> <!-- clique de l'utilisateur, si c'est bon ou pas-->
                    </button>
        
                    <button id="" class="lqs">
                        <p id="">Quiz n°1 : Les angiospermes blabla</p>
                    </button>
        
                    <button id="" class="lqs">
                        <p id="">Quiz n°1 : Les angiospermes blabla</p>
                    </button>
        
                    <button id="" class="lqs">
                        <p id="">Quiz n°1 : Les angiospermes blabla</p>
                    </button>
    
                </div>
        </div>
    </body>

           









            <footer>
                <p>&copy; Créé par quatre CNB3 - 2022</p>
            </footer>
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <script type="text/javascript" src="js/function.js"></script> <!-- pour la barre de navigation -->


        </html>
                