<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../styletextatrou.css">
        <link href="https://fonts.googleapis.com/css2?family=Exo:wght@100;200&family=Fira+Sans+Condensed:wght@200&family=Lobster+Two&family=Permanent+Marker&display=swap" rel="stylesheet">
        
    </head>
    
    <BODY>

        <div id="conteneur">
            <p id="question"> </p>
            
            <input type="texte" name="mot" maxlenght="10", id="reponse", autocomplete="off">
            
            <button id="boutonValider" > Valider </button>
            
        <div id="score">
            <div id="faux"> 0 </div>
            <div id="juste"> 0 </div>
        </div>
           <div class="progression"></div>
        </div>


        

    </BODY>

<script type="text/javascript" src="js/textrou.js"></script> <!-- lien avec page function.js -->

</hmtl>



        
        
        <!--
        <script language="javascript"> function liste(form5) {
            if(form5.list.selectedIndex==1)
            alert("Bonne réponse!");
            else
            alert("ERREUR ! Essaye encore"); }
        </SCRIPT>

        <h3>La quantité de <FORM NAME="form5">
        <SELECT NAME="list">
            <OPTION VALUE="1">lumière
            <OPTION VALUE="2">eau
            <OPTION VALUE="3">sels minéraux
        </SELECT>
        disponible est un facteur important dans la détermination de leur forme et structure
        </h3>
        <element class= "button">
        <INPUT TYPE="button"NAME="b" VALUE="Valider" onClick="liste(form5)"> 
        </element>
        </FORM>
    
    

    
<!--info box
<div class="start_btn"><button>Start quiz</button></div>
    <div class="info_box">
        <div class="info_title">
            <span>Somme rules</span>
        </div>
    </div>
    <div class="info_list">
        <div class="info"></div>
        <div class="info"></div>
        <div class="info"></div>
        <div class="info"></div>
        <div class="info"></div>
        <div class="info"></div>
        <div class="info"></div>
    </div>-->